<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<object th:include="fragments/header :: scripts" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/adminheader :: navbar"></nav>
	<div class="container">
		<div class="row">
			<div class="span8">
				<fieldset>
					<legend>Admin Page</legend>
					<p>Admin Dahsboard. Important things to show to admin here!!</p>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>