<!DOCTYPE html>
<html lang="en">
<head>
<title>Career</title>
<object th:include="fragments/guestHeader :: scripts" th:remove="tag"></object>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav th:replace="fragments/guestHeader :: navbar"></nav>
	<div class="container">
		<div class="row">
			<div class="span8">
				<fieldset>
					<legend>Career with us</legend>
					<p>Career page. You may advertise here!!!</p>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>
