<!DOCTYPE html>
<html lang="en">
<head>
<title>Terms and Conditions</title>
<object th:include="fragments/header :: scripts" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/header :: navbar"></nav>
	<div class="container">
		<div class="row" >
			<div class="span8">
				<fieldset>
					<legend>Terms and Conditions</legend>
					<p>Please read the terms and conditions ("Terms and
						Conditions") set out below carefully. You agree to
						be bound by these Terms and Conditions.</p>
				</fieldset>
			</div>
		</div>
	</div>
</body>
</html>
